accessify==0.3.1
asgiref==3.4.1
certifi==2020.6.20
chardet==3.0.4
click==8.0.3
cycler==0.11.0
Django==4.0
django-cors-headers==3.11.0
djangorestframework==3.13.1
Flask==2.0.2
fonttools==4.29.1
idna==2.8
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
MarkupSafe==2.0.1
matplotlib==3.5.1
numpy==1.22.2
packaging==21.3
pandas==1.4.1
patsy==0.5.2
Pillow==9.0.1
pyparsing==3.0.7
pypi-version==0.2.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.1
requests==2.21.0
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
statsmodels==0.13.2
threadpoolctl==3.1.0
urllib3==1.24.3
Werkzeug==2.0.2
